{% extends 'base.html'  %}
{% block title %} Blogly home {% endblock %}

{% block content %}

<h1> Blogly Recent Posts</h1>

{% for post in posts %}

<h2> 
    <a href="/posts/{{post.id}}" class="links"> {{ post.title }}</a>
</h2>
<p> {{ post.content }} </p>
<p>
    <small>
        By {{post.user.first_name}} {{post.user.last_name}} on {{post.friendly_date}}
    </small>
</p>

{% if post.tags %}
<p> 
    <b>Tags: </b>
    {% for tag in post.tags %}
    <a href="/tags/{{ tag.id }}" class="tag-link"><small><i>{{tag.name}}</i></small></a>
    {% endfor %}
</p>
{% endif %}


{% endfor %}

{% endblock %}